@font-face {
font-family: Montserrat-Bold;
src: url(./fonts/Montserrat-Bold.ttf);
   }
@font-face {
font-family: Roboto-Regular;
src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
font-family: Roboto-LightItalic;
src: url(./fonts/Roboto-LightItalic.ttf);
}
*{
	margin: 0;
	padding: 0;
}

 /*HEADER*/
.intro{
	background: -webkit-linear-gradient(top, rgba(234, 135, 130, 0.95) 20%,rgba(241, 210, 137, 0.90) 100%), url(./img/eagle.jpg)no-repeat 0 -50px fixed;
	background-size: cover;	
	background-position: center center;
}	
.container{
	margin: 0 auto;
}	
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent !important;
	color:#fff;
}
.navbar{
	background-color: transparent;
	background: transparent;
   border-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #fce38a;
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #e7e7e7;
	padding: 0;
	margin-top: 20px;
	overflow-x: hidden;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #f5d4d4;
}
.navbar-header .navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 21px;
	margin-right: 30px;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0);
	background-image: none;
	border: 1px solid #aeaeae;
	border-radius: 3px;
}
.nav{
	padding-bottom: 27px;
	padding-top: 17px;
}
#menu {
	padding: 5px;
	transition: all 0.9s;
}  
.on {
	background-color: #252531 !important;
	padding: 0 !important;
	padding: 15px 0 !important;
 }
 .on .navbar-brand{
	color: #e5c78a !important;
	font-size: 40px !important;
	font-family: 'Kaushan Script', cursive !important;
 }
.navbar .nav a{
	font-family: 'Montserrat', sans-serif; 
   color: #fff;
   text-transform: uppercase;
   font-size:14px;
   margin: 0;	
   padding:0 0 3px 0;
}
.nav li{
	padding-left: 50px;

}
.collapse a:hover{
	color: #fce38a;
}
.collapse a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  color:#fce38a; 
  background-color: #fce38a;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0.3s;
  transition: all 0.4s ease-in-out 0s;

}
 .collapse a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);	
}
.navbar-default .navbar-brand{
	color: #fff;
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 30px 0 0 15px;
	transition: all 0.9s;
	
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #fff;
	background-color: transparent;
}
.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 3px;
}
.main{
	margin-top: 185px;
	text-align: center;
}
.banner1 h2{
	font-family: 'Kaushan Script', cursive;
	font-size: 72px;
	margin-bottom:45px; 
	color:#fff;
}
.banner2 h1{
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bolder;
	font-size: 150px;
	max-width: 70%;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
	word-spacing: 1px; 
}
.main hr{
	height: 3px;
	width: 60px;
	text-align: center;
	background: #fff;
	margin: 50px auto;
}
.learn{
	margin-top: 60px;
	display: block;
	margin-bottom: 100px;
}
.learn a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 10px 30px;
	border:2px solid #fff;
	color:#fff;
	transition: all 0.4s;
}
.learn a:hover{
	color: #95e1d3;
	border: solid #95e1d3 2px;
}
.line{
	width: 5%;
	margin:0 auto;
	position: relative;
}

/*ABOUT US*/
.what{
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	margin-top: 90px;
}
.story{
	font-family: 'Montserrat-Bold', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: 30px;
}
.container-fluid .row{
	margin: 0 auto;
}
.firstPara{
	max-width: 60%;
	font-size: 15px;
	text-align: center;
	font-family: 'Roboto-Regular', sans-serif;
	padding-bottom: 50px;
}

.prim .firstPara{
	margin: 50px auto;
}
.prim hr{
	height: 2px;
	width: 60px;
	text-align: center;
	background: #f38181;
	margin: 0 auto;
}
#about-us{
	margin-bottom: 100px;
	text-align: center;
}
.box{
	padding-bottom: 20px;
}
#image-relative1{
	position: relative;
}

.icon1{
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
#image-relative2{
	position: relative;
}
.icon2{
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
#image-relative3{
	position: relative;
}
.icon3{
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.for-hover{
	display: inline-block;
	cursor: pointer;
	color: #fff; 
	text-transform: uppercase;
	font-family: 'Montserrat-Bold', sans-serif;
}
.for-hover:hover{
	background: -webkit-linear-gradient(top, rgba(234, 135, 130, 0.99) 20%,rgba(241, 210, 137, 0.99) 80%);
	box-shadow: 10px 10px 5px #95e1d3; 
}
.for-hover:hover #image-relative1{
	opacity: 0.1;
	transition: all 0.8s;
}
.for-hover:hover .icon1{
	opacity: 1;
	transition: all 0.8s;
}
.for-hover:hover #image-relative2{
	opacity: 0.1;
	transition: all 0.8s;
}
.for-hover:hover .icon2{
	opacity: 1;
	transition: all 0.8s;
}
.for-hover:hover #image-relative3{
	opacity: 0.1;
	transition: all 0.8s;
}
.for-hover:hover .icon3{
	opacity: 1;
	transition: all 0.8s;
}
.fa-users{
	font-size: 40px;
}
  /*RATING*/
 #rating{
	background-color: #95e1d3;
 }
  .col-half-offset{
   margin-left:4.166666667%
}
.poll{
	margin-top: 70px;
  margin-bottom: 70px;
}
#number h1{
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 72px;
	color:#fff;
}
#number p{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	text-transform: uppercase;
}

	/*SERVICES*/

 .perform{
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	padding-bottom: 10px;
 }
 .perform .context{
	float: right;
	max-width: 80%;
	margin-top: 0px;
	line-height: 1.5em;
 }
.logo-service{
	float: left;
	padding-top: 10px;
	padding-right: 10px;
}
.rowserve{
	margin: 50px 0;
}
#services .container{
	margin-bottom: 80px;
}


	/*FEATURE*/
#feature{
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.6) 100%,rgba(255, 255, 255, 0.6) 100%), url(./img/river.png)repeat fixed;
	background-size: cover;
	margin-bottom: 100px;
	width: 100%;
	height: 100%;
}
#feature .container{
	position: relative;
}
.mobile{
	margin-top:50px;
}
.tablet{
	width: 480px;
	height: 580px;
	margin: 0 auto;
}	
.phone{
	height: auto;
	width: 210px;
	position: absolute;
	float: right;
	top:65%;
	right: 19%;
}

	/*SERVICES 2*/
#accor-pic{
	/*vertical-align: middle;*/
	display: inline;
	padding-right: 10px;
}
#services-2 a{
	text-decoration: none;
}
#services-2 .heading-p{
	display: inline;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.panel-body p{
	font-family: 'Roboto-LightItalic', helvetica;
	font-size: 14px;
	color: #b6b6b6;
	
}
.accordion-toggle h3{
	margin: 0 auto
}
.panel-heading .accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
	content: "\e114";    /* adjust as needed, taken from bootstrap.css */
	float: right; /* adjust as needed */
	color: #b6b6b6;         /* adjust as needed */
	padding-top: 5px;
	margin: 0 auto;
}
.panel-heading .accordion-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.panel-default>.panel-heading {
	color: #333;
	background-color: transparent;
	border-color: #ddd;
	padding: 8px 15px;
}
#panel-scroll {
	border-top-color: #ddd;
	height: 180px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: left;
	padding-right: 10px;
	margin-right: 7px; 
}
#panel-scroll::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#panel-scroll::-webkit-scrollbar{
	width: 5px;
	background-color: #F5F5F5;
}

#panel-scroll::-webkit-scrollbar-thumb{
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #95e1d3;
}

	/*Slider*/
section.slide{
	background-color:#eee;
}
#services-2 a {
	text-decoration: none;
	background: transparent;
}	
.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
	min-height: 250px;
}
.caption{
	padding: 40px;
}
.fa.fa-comments{
	float: left;
	font-size: 90px;
	color: #95e1d3;
	padding: 40px;
	border:5px solid #95e1d3;
	margin-right: 40px;
}
.slider-txt{
	display: inline;
	padding-left: 10px;

}
.slider-txt p{
	font-family: 'Roboto-LightItalic', helvetica;
	font-size: 16px;
}
.slider-txt span{
	display: inline-block;
	margin-right: 10px;
	width: 60px;
	height: 3px;
	border-bottom: 3px solid #f38181;
}
.slider-txt .name{
	display: inline;
	float: right;
}

	/*OUR TEAM*/

#our-team{
	margin-bottom: 100px;	 
}

	/*LOGO*/

#logo{
	background-color: #f5f5f5; 
}	
#logo .row{
	padding: 60px 0px;
}

	/*Background Images*/

#bg-images{
	background:   url(./img/bg1.jpg)top left no-repeat,
				  url(./img/bg2.jpg) bottom left no-repeat,
				  url(./img/bg3.jpg) no-repeat,
				  url(./img/bg4.jpg) top right no-repeat,
				  url(./img/bg5.jpg) bottom right no-repeat,
				  url(./img/bg6.jpg) no-repeat,
				  url(./img/bg7.jpg) center top no-repeat;
	
	min-height: 775px;				  
}	

	/*Slide2*/

.caption2{
	padding: 60px;
}
#slide2{
	margin: 100px 0px;	
}	
.slide-image{
	float: left;
	width: 180px;
	height: auto;
	margin-right: 30px;
}
.slider-text{
	margin-left: 30px;
	display: inline;
}

	/*People Say*/

#people-say{
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 100%,rgba(255, 255, 255, 0.7) 100%), url(./img/commentbg.jpg)no-repeat fixed;
	background-size: cover;
	width: 100%;
}		
#people-say #row1{
	margin-bottom: 70px;
}
#people-say #row1 .col{
	margin-bottom: 30px;
}
#people-say #row2{
	margin-bottom: 100px;
}
#people-say #row2 .col{
	margin-bottom: 30px;
}
.people-say-img{
	float: left;
	margin-right: 30px;
	display: block;
}
#people-say .container{
	margin-bottom: 50px;
}
.description{
	margin-top: 10px;

}
.description h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px; 
	font-weight: 600;
	margin: 0;
}
.description h4{
	font-family: 'Roboto-LightItalic', sans-serif;
	font-size: 15px;
}
.description p{
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 15px;
	color: #8a8989;
	letter-spacing: 0.5px;
}

		/*BLOG*/
#blog .row{
	margin-top: 50px;
}
.blogs{
	width: 97%;
	padding-left: 15px;
}
.blogs h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}
.blogs p{
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 15px;
	color: #b6b6b6;
}
.eye i, p{
	display: inline;
}
.blogicon .eye, .comment{
	display: inline;
	padding-right: 10px;
	color: #95e1d3;
}

			/*BLOG 1*/
#blog .blog-img1{
	position: relative;
} 
#blog .row{
	margin-bottom: 100px;
}
.attach-blog1{
	position: absolute;
	top: 150px;
	left: 20px;
	background-color: #95e1d3;
	color: #fff;
	padding: 15px;
}
.attach-blog1 h3{
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 30px;
	font-weight: 600;
	margin: 0;
	padding: 0;
	text-align: center;
}
.attach-blog1 p{
	font-family: 'Roboto-LightItalic', sans-serif;
	font-size: 14px;
	text-align: center;
	margin: 0;
	padding: 0;
}
 		/*BLOG 2*/
#blog .blog-img2{
	position: relative;
} 
.attach-blog2{
	position: absolute;
	top: 150px;
	left: 20px;
	background-color: #95e1d3;
	color: #fff;
	padding: 15px;
}
.attach-blog2 h3{
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 30px;
	font-weight: 600;
	margin: 0;
	padding: 0;
	text-align: center;
}
.attach-blog2 p{
	font-family: 'Roboto-LightItalic', sans-serif;
	font-size: 14px;
	text-align: center;
	margin: 0;
	padding: 0;
}
		/*BLOG 3*/
#blog .blog-img3{
	position: relative;
} 
.attach-blog3{
	position: absolute;
	top: 150px;
	left: 20px;
	background-color: #95e1d3;
	color: #fff;
	padding: 15px;
}
.attach-blog3 h3{
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 30px;
	font-weight: 600;
	margin: 0;
	padding: 0;
	text-align: center;
}
.attach-blog3 p{
	font-family: 'Roboto-LightItalic', sans-serif;
	font-size: 14px;
	text-align: center;
	margin: 0;
	padding: 0;
}

		/*MAPS*/

.map-wrapper{
	background: url('./img/map.jpg')no-repeat;
	background-size: cover;
	width: 100%;
}
.map-marker{
	padding-top: 55px;
}
#map button{
	background-color: transparent;
	border-color: transparent;
	margin-bottom: 55px;
}
#map button, .map-marker{
	font-family: 'Montserrat-Bold', sans-serif;
	color: #f38181;
	font-size: 24px;
}


		/*NEWSLETTER*/

#newsletter{
	margin-top: 75px;
}
#newsletter h2{
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 40px;
	margin-bottom: 45px;
	margin-top: 	0;
	padding: 0;
	color: #ccc;
}
.news-para-1{
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 15px;
	color: #ccc;
	letter-spacing: 0.04px;
}
.highlight-15k{
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 18px;
	color: #333;
}
.h4{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	margin-top: 35px;
	margin-bottom: 20px;
}
#newsletter hr{
	width: auto;
}
.h4-follow{
	font-family: 'Roboto-LightItalic', sans-serif;
	font-size: 15px;
	color: #999;
}
.h4-follow, .fa-icons{
	display: inline;
}
.fa-icons{
	margin-left: 20px;
}
.fa-icons li{
	display: inline;
	padding-right: 15px;
	font-size: 16px;
}
.fa-icons a{
	text-decoration: none;
	color: #95e1d3;
}
.social-media{
	margin-bottom: 30px;
}
#newsletter input[type="email"]{
	height: 40px;
	width: 50%;
	color: #ccc;
	border-color: none;
}
#newsletter button{
	font-family:  'Montserrat-Bold', sans-serif;
	font-size: 14px;
	border-radius: 1px;
	padding: 10px 35px  8px 35px;
	display: inline;
	background-color: #95e1d3;
	color: #fff;
	border-color: #95e1d3;
	letter-spacing: 1px;
}

.blog-1{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	margin-bottom: 50px;
}
.instagram{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	margin-bottom: 45px;
}
.blog-cols img, .p-float-right{
	display: inline;
}
.blog-cols img{
	margin-right: 20px;
	display: inline-block;
}
.blog-cols .p-float-right{
	display: inline-block;
	vertical-align: middle;
	width: 60%;
}
.p-float-right p:first-child{
	font-family: 'Montserrat', sans-serif;
	color: #333;
	font-size: 13px;
	text-transform: uppercase;
}
.p-float-right p{
	font-family: 'Roboto-LightItalic', sans-serif;
	color: #999999;
}
.blog-cols{
	margin-bottom: 35px;
}
.thumb .col-lg-4, .col-xs-4{
	padding: 0 !important;
}
.thumb .img-responsive{
	width: 100%;
	padding: 3px;
}

		/*FOOTER*/

footer hr{
	border-top: 2px solid #eee;
}		
.footer p{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
footer .highlight{
	color: #f38a8a;
}
footer .highlighted{
	color: #fd8585;
}
@media screen and (max-width: 1200px){
	.banner2 h1{
		 font-size: 670%;
		 max-width: 80%;
		 margin: 0 auto;
	}
	.banner1 h2{
		font-size: 500%;
		 max-width: 100%;
	}
	.people-say-img{
	float: none;
	margin: 0 auto;
	text-align: center;

	}
	.description{
		text-align: center;
	}
	#people-say #row1{
	margin-bottom: 20px;
	}
	.firstPara{
	max-width: 80%;
	font-size: 14px;
	padding-bottom: 40px;
	}
	.attach-blog1{
	top: 110px;
	left: 7px;
	padding: 10px;
  }
  .attach-blog2{
	top: 110px;
	left: 7px;
	padding: 10px;
  }
  .attach-blog3{
	top: 110px;
	left: 7px;
	padding: 10px;
  }
}
@media screen and (max-width: 768px){
	.navbar-right {
    margin-right: 10px;
	}
	.nav li {
    padding-left: 30px;
	}
	.banner2 h1{
		font-size: 500%;
		max-width: 100%;
	}
	.banner1 h2{
		font-size: 300%;
		margin: 0 auto;
	  margin-bottom: 40px;
	}
	.learn{
		margin-top: 40px;
		margin-bottom: 60px;
	}
	.learn a{
		padding: 7px 15px;
		border:1px solid #fff;
	}
	.learn a:hover{
		color: #95e1d3;
		border: solid #95e1d3 1px;
	}
	.intro hr{
		height: 2px;
		width: 40px;
	}
	.main{
		margin-top: 130px;
	}
	.firstPara{
	max-width: 80%;
	font-size: 14px;
	padding-bottom: 40px;
	}
	.attach-blog1{
	top: 160px;
	left: 170px;
	padding: 10px;
  }
  .attach-blog2{
	top: 160px;
	left: 170px;
	padding: 10px;
  }
  .attach-blog3{
	top: 160px;
	left: 170px;
	padding: 10px;
  }
  #blog .blogs{
  	margin-bottom: 30px;
  }
  #blog hr{
  	margin: 10px auto;
  }
}	
@media screen and (max-width: 425px){
	.banner2 h1{
		font-size: 300%;
		max-width: 100%;
	}
	.banner1 h2{
		font-size: 200%;
		 max-width: 100%;
		 margin-bottom:30px; 
	}
	.learn{
		margin-top: 40px;
		margin-bottom: 60px;
	}
	.learn a{
		padding: 7px 15px;
		border:1px solid #fff;
	}
	.learn a:hover{
		color: #95e1d3;
		border: solid #95e1d3 1px;
	}
	.intro hr{
		height: 2px;
		width: 40px;
	}
	.main{
		margin-top: 130px;
	}
	.firstPara{
	max-width: 100%;
	font-size: 14px;
	padding-bottom: 40px;
	}
	#slide2 .slide-image{
		float: none;
		display: block;
		margin: 0 auto 20px;
	}
	#slide2 .fa.fa-comments{
		margin: 0 auto 20px;
		display: block;
		float: none;
	}
	#slide2 .slider-text p{
		float: none;
		display: block;
		margin: 0 auto;
	}
	.attach-blog1{
	top: 150px;
	left: 7px;
	padding: 10px;
  }
  .attach-blog2{
	top: 150px;
	left: 7px;
	padding: 10px;
  }
  .attach-blog3{
	top: 150px;
	left: 7px;
	padding: 10px;
  }
}
@media screen and (max-width: 375px){
	.attach-blog1{
	top: 122px;
	left: 7px;
	padding: 8px;
  }
  .attach-blog2{
	top: 122px;
	left: 7px;
	padding: 8px;
  }
  .attach-blog3{
	top: 122px;
	left: 7px;
	padding: 8px;
  }
}